:root {
  --main-title-color: #ffffff;
  --main-text-color: #212121;
  --text-color: #757575;
  --accent-text-color: #2196f3;
  --second-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --icons-color: #afb1b8;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  background-color: #ffffff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header {
  margin: 0 auto;
  border-bottom: 1px solid #ececec;
}

.header__logo {
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-right: 93px;
}

.word-first-part {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}

.site-list__item {
  margin-right: 50px;
}

.site-list__item:last-child {
  margin-right: 0;
}

.site-list {
  display: flex;
}

.site-list .header-link.current {
  color: var(--accent-text-color);
}

.contacts-list {
  display: flex;
}

.connect {
  margin-left: auto;
}

.site-navigation {
  display: flex;
  align-items: center;
}

.header__container {
  display: flex;
  align-items: center;
}

.site-list__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.site-list__link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0px;
  bottom: -2px;
  background-color: var(--accent-text-color);
  border-radius: 2px;
}

.site-list__link:hover, .site-list__link:focus {
  color: var(--accent-text-color);
}

.contacts-list__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link:hover, .contacts-list__link:focus {
  color: var(--accent-text-color);
}

.contacts-list__item {
  display: flex;
  margin-right: 50px;
}

.contacts-list__item:last-child {
  margin-right: 0;
}

.contacts-list__icon {
  margin-right: 10px;
  color: var(--text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__item:hover .contacts-list__icon,
.contacts-list__item:focus .contacts-list__icon {
  fill: var(--accent-text-color);
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.images {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.titles {
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
  color: var(--main-text-color);
}

.btn {
  font-family: inherit;
  background: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  padding: 10px 32px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.hero {
  background: var(--second-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio_img/background_hero.jpg);
  max-width: 1600px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__info {
  text-align: center;
}

.hero__title {
  margin: 0 auto;
  width: 700px;
  margin-bottom: 30px;
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--main-title-color);
}

.gallery {
  padding-bottom: 94px;
}

.gallery__list {
  display: flex;
}

.gallery__item {
  display: flex;
  margin-right: 30px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.gallery__item:last-child {
  margin-right: 0;
}

.gallery__titles-box {
  display: flex;
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  left: 0px;
  bottom: 0px;
  align-items: center;
  justify-content: center;
}

.gallery__title {
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.about-us {
  padding-top: 94px;
  padding-bottom: 94px;
}

.about-us__list {
  display: flex;
  margin: 0 auto;
}

.about-us__item {
  width: 270px;
  margin-right: 30px;
}

.about-us__item:last-child {
  margin-right: 0;
}

.about-us__title {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.about-us__text {
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.about-us__item-box {
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--third-background-color);
}

.our-team {
  background: var(--third-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .our-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.our-team__title {
  font-size: 28px;
  line-height: 1.18;
  margin-bottom: 30px;
}

.our-team__list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .our-team__list {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .our-team__list {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
  }
}

.our-team__item {
  margin-bottom: 30px;
  background: var(--main-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team__item:last-child {
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .our-team__item {
    width: calc(100% / 2 - 30px);
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team__item {
    width: calc(100% / 4 - 30px);
    margin-right: 30px;
  }
}

.our-team__image {
  display: block;
  max-width: 100%;
  height: auto;
}

.our-team__card-text {
  padding: 30px 32px;
}

.our-team__name {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  text-align: center;
}

.our-team__profession {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
}

.social__list {
  display: flex;
  justify-content: center;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__item + .social__item {
  margin-left: 10px;
}

.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-title-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-text-color);
}

.social__icon {
  fill: var(--icons-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: var(--main-title-color);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__list {
  display: flex;
  justify-content: center;
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__item + .clients__item {
  margin-left: 30px;
}

.clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-text-color);
}

.clients__icon {
  fill: var(--icons-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-text-color);
}

.footer {
  display: flex;
  background: var(--second-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__list {
  margin-top: 20px;
}

.footer__item {
  margin-bottom: 9px;
}

.footer__item:last-child {
  margin-bottom: 0;
}

.footer__address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address:focus, .footer__address:hover {
  color: var(--accent-text-color);
}

.footer__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover, .footer__link:focus {
  color: var(--accent-text-color);
}

.footer__logo {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.footer__title {
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  color: var(--main-title-color);
}

.footer-social__list {
  display: flex;
  justify-content: center;
}

.footer-social__item {
  width: 44px;
  height: 44px;
}

.footer-social__item + .footer-social__item {
  margin-left: 10px;
}

.footer-social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--accent-text-color);
}

.footer-social__icon {
  fill: var(--main-title-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover .footer-social__icon,
.footer-social__link:focus .footer-social__icon {
  fill: var(--main-title-color);
}

.footer__semi-container {
  margin-right: auto;
}

.footer__semi-container:last-child {
  margin-right: 0;
}

.footer__form {
  display: flex;
}

.footer__button {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__button__icon {
  fill: var(--main-title-color);
  margin-left: 10px;
}

.footer__input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 10px;
  padding-left: 16px;
  padding-right: 16px;
  color: var(--main-title-color);
  letter-spacing: 0.06em;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__input:focus {
  border-color: var(--accent-text-color);
}

.main-navigation {
  padding-top: 94px;
  padding-bottom: 94px;
}

.buttons {
  font-style: normal;
  background: var(--third-background-color);
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 6px 22px 6px 22px;
  color: var(--main-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons:hover, .buttons:focus {
  background-color: var(--accent-text-color);
  color: var(--main-title-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.main-navigation__item {
  margin-right: 8px;
}

.main-navigation__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.main-navigation__list .buttons.current-button {
  background-color: var(--accent-text-color);
  color: var(--main-title-color);
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.portfolio__item {
  margin-right: 30px;
  background: var(--main-title-color);
  margin-bottom: 30px;
  box-sizing: border-box;
}

.portfolio__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__photos {
  display: block;
  min-width: 100%;
  height: auto;
}

.portfolio-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio__hover-text {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-align: start;
  padding: 63px 24px;
  color: var(--main-title-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.portfolio__link:hover .portfolio__hover-text,
.portfolio__link:focus .portfolio__hover-text {
  transform: translateY(0);
}

.portfolio__card-text {
  padding: 20px 24px 20px 24px;
  border: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio__title {
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.87;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: scale(1.5);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--main-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid #0000001a;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:focus, .modal__close:hover {
  border-color: var(--accent-text-color);
}

.modal__close__icon {
  fill: var(--main-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover .modal__close__icon,
.modal__close:focus .modal__close__icon {
  fill: var(--accent-text-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__title {
  font-style: normal;
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
  color: var(--main-text-color);
}

.modal__form {
  justify-content: center;
  align-items: center;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
  padding-right: 42px;
  background-color: transparent;
  color: var(--main-text-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus {
  border-color: var(--accent-text-color);
}

.modal__form-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  resize: none;
  background-color: transparent;
  color: var(--main-text-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-textarea:focus {
  border-color: var(--accent-text-color);
}

.modal__form-textarea::placeholder {
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__label {
  display: block;
  margin-bottom: 4px;
  font-style: normal;
  font-size: 12px;
  line-height: 1.17;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.modal__form-field {
  margin-bottom: 10px;
}

.modal__textarea {
  margin-bottom: 20px;
}

.modal__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus + .modal__icon {
  fill: var(--accent-text-color);
}

.input-wrap {
  position: relative;
}

.modal__btn {
  display: block;
  margin: 0 auto;
}

.modal__check-text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  cursor: pointer;
  margin-right: 8px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__check-text:hover span {
  border-color: var(--accent-text-color);
}

.modal__check:focus + .modal__check-text span {
  border-color: var(--accent-text-color);
}

.modal__check:checked + .modal__check-text span {
  background-color: var(--accent-text-color);
  border: none;
}

.modal__link {
  color: var(--accent-text-color);
  text-decoration-skip-ink: none;
}

.modal__check-icon {
  fill: var(--main-title-color);
}
/*# sourceMappingURL=main.css.map */