.about-us {
  padding-top: 94px;
  padding-bottom: 94px;
}

.about-us-list {
  display: flex;
  margin: 0 auto;
}

.about-us-item {
  width: 270px;
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}

.about-us-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.about-us-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.about-us-links-item {
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--third-background-color);
}
